<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detall Silla</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1>Seient <span th:text="${seat.seatRow}"></span><span th:text="${seat.seatNumber}"></span></h1>
<ul>
    <li>Fila: <span th:text="${seat.seatRow}"></span></li>
    <li>Número: <span th:text="${seat.seatNumber}"></span></li>
    <li>Posició X: <span th:text="${seat.posX}"></span></li>
    <li>Posició Y: <span th:text="${seat.posY}"></span></li>
    <li>Tipus: <span th:text="${seat.type}"></span></li>
<li>Estat: <span th:text="${seat.active} ? 'Lliure' : 'Ocupat'"></span></li></ul>

<a th:href="@{/seat/llista/{roomId}(roomId=${seat.room.id})}">Tornar als seients</a>
</body>
</html>
