<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detall Cinema</title>
</head>
<body>

<h1 th:text="${cinema.name}"></h1>
<p>Ciutat: <span th:text="${cinema.city}"></span></p>
<p>Adreça: <span th:text="${cinema.adress}"></span></p>

<h2>Sales</h2>
 <a th:href= "@{/room/create/{cinemaId}(cinemaId=${cinema.id})}">Crear</a>
<ul>
    <li th:each="room : ${cinema.rooms}">
        <span th:text="${room.name}"></span>
        (Capacitat: <span th:text="${room.capacity}"></span>)

           
            <a th:href= "@{/room/{id}(id=${room.id})}"> Veure detall</a>
            <a th:href= "@{/room/delete/{id}(id=${room.id})}"> Esborrar</a>
            <a th:href= "@{/room/edit/{id}(id=${room.id})}"> Editar</a>
           <a th:href="@{/seat/llista/{roomId}(roomId=${room.id})}"> Seients</a>
    </li>
</ul>
<a th:href="@{/screening/llista/{roomId}(roomId=${screening.room.id})}">Tornar a les projeccions</a>
<a href="/cinemes">Tornar</a>
    

</body>
</html>