<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nova Silla</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <form th:action="@{/seat/new}" th:object="${seat}" method="post">
        <legend>Nova silla</legend>

        <input type="hidden" th:field="*{room.id}" />

        <label>Fila:</label>
<input type="text" th:field="*{seatRow}" placeholder="A, B, C..." />

        <label>Número de silla:</label>
        <input type="number" th:field="*{seatNumber}" /><br /><br />

        <label>Posició X:</label>
        <input type="number" th:field="*{posX}" /><br /><br />

        <label>Posició Y:</label>
        <input type="number" th:field="*{posY}" /><br /><br />

        <label>Tipus:</label>
        <select th:field="*{type}">
            <option th:each="t : ${seatTypes}" th:value="${t}" th:text="${t}"></option>
        </select><br /><br />

        <label>Estat:</label>
<select th:field="*{active}">
    <option value="true">Lliure</option>
    <option value="false">Ocupat</option>
</select><br /><br />

        <button type="submit">Guardar</button>
    </form>
</body>
</html>
