<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Projecció — CinemaDaw</title>
    <link rel="stylesheet" th:href="@{/css/screening-form.css}">
</head>
<body>

   

    <main>
        <form th:action="@{/screening/new}" th:object="${screening}" method="post">

            <input type="hidden" th:field="*{room.id}" />

            <legend>Nova Projecció</legend>
            <div class="error" th:if="${error}" th:text="${error}"></div>

            <div class="field">
                <label>Pel·lícula</label>
                <select th:field="*{movie.id}" required>
                    <option value="" disabled selected>Selecciona una pel·lícula...</option>
                    <option th:each="p : ${pelicules}" th:value="${p.id}" th:text="${p.Titol}"></option>
                </select>
            </div>

            <div class="field">
                <label>Data</label>
                <input type="date" th:field="*{screeningDate}" required />
            </div>

            <div class="field">
                <label>Hora</label>
                <input type="time" th:field="*{screeningTime}" required />
            </div>

            <div class="field">
                <label>Preu (€)</label>
                <input type="number" step="0.01" th:field="*{price}" placeholder="Ex: 9.50" required />
            </div>

            <div class="form__actions">
                <button type="submit" class="btn btn--primary">Guardar</button>
                <a href="/screenings/all" class="btn btn--outline">Cancel·lar</a>
            </div>

        </form>
    </main>

    
<script th:src="@{/js/form-validation.js}"></script>
</body>
</html>
