<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear pelicula</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <form th:action="@{/pelicula/create}" th:object="${pelicula}" method="post">
        <legend>Crear pelicula</legend>

        <label>Titol:</label>
        <input type="text" th:field="*{Titol}" />

        <label>Durada:</label>
        <input type="text" th:field="*{Durada}" />

        <label>Sinopsi:</label>
        <input type="text" th:field="*{sinopsi}" />

        <label>Estrena:</label>
        <input type="text" th:field="*{estrena}" />

        <button type="submit">Guardar</button>
    </form>
</body>
</html>
