<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar pelicula</title>
    <link rel="stylesheet" th:href="@{/css/crear-pelicula.css}">
</head>
<body>
    <form th:action="@{/pelicula/edit}" th:object="${pelicula}" method="post">
      <legend>Editar pelicula</legend>
      <div class="error" th:if="${error}" th:text="${error}"></div>

      <input type="hidden" th:field="*{id}" />

      <label>Titol:</label>
      <input type="text" th:field="*{Titol}" required />

      <label>Durada:</label>
      <input type="text" th:field="*{Durada}" required />

      <label>Sinopsi:</label>
      <input type="text" th:field="*{sinopsi}" required />

      <label>Estrena:</label>
      <input type="text" th:field="*{estrena}" required />

      <button type="submit">Guardar</button>
    </form>
    <script th:src="@{/js/form-validation.js}"></script>
</body>
</html>
